.navbar-hover ul li.nav-item a:hover {
    border-bottom: 1px solid #F5A637;
}
.navbar-hover ul li.nav-item.active-item{
    border-bottom: 1px solid #F5A637;
}

.btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

banner-text h6 {
    color: #F5A637;
}